<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <h1>Home page</h1>
    {% if username %}
        <p>Olá {{ username }} </p>
        <a href="/logout">Logout</a>
    {% else %}
        <p>Você não está logado. <a href="/login">Login</a></p>
    {% endif %}
</body>
</html>